.logo {
    color: $primary-color;
    font-weight: 400;
    font-size: 1.667rem;
    &:hover {
        transition: .4s;
        transform: scale(1.1);
    }
}


@media screen and (max-width: 1024px) {
    .logo {
        font-size: 1.1667rem;
    }
}

