.name {
    font-size: $heading-font;
}

@media screen and (max-width: 1024px) {
    .name {
        font-size: 1.167rem;
    }
}

@media screen and (max-width: 768px) {
    .name {
        font-size: $base-font;
    }
}