$primary-color: white;
$secondary-color: black;
$link-bg: #FFA60D;
$bg-color: #F3F7EA;
$base-font: 30px;
$heading-font: 40px;
$link-font: 20px;
$small-font: 25px;
$dish-font: 18px;
$content-font: 14px;